In [1]:
import pandas as pd
import numpy as np

# Load the data

customer_db = pd.read_csv("data/DM_AIAI_CustomerDB.csv", index_col=0 ).set_index("Loyalty#")
flights_db = pd.read_csv("data/DM_AIAI_FlightsDB.csv",  index_col="Loyalty#")

# Data Exploration

### Customer DB

In [2]:
customer_db.head()

,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
Loyalty#,,,,,,,,,,,,,,,,,,,
480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,M2Z 4K1,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,J8Y 3Z5,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

In [3]:
customer_db.info()

<class 'pandas.core.frame.DataFrame'>
Index: 16921 entries, 480934 to 100016
Data columns (total 19 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   First Name               16921 non-null  object
 1   Last Name                16921 non-null  object
 2   Customer Name            16921 non-null  object
 3   Country                  16921 non-null  object
 4   Province or State        16921 non-null  object
 5   City                     16921 non-null  object
 6   Latitude                 16921 non-null  float64
 7   Longitude                16921 non-null  float64
 8   Postal code              16921 non-null  object
 9   Gender                   16921 non-null  object
 10  Education                16921 non-null  object
 11  Location Code            16921 non-null  object
 12  Income                   16901 non-null  float64
 13  Marital Status           16921 non-null  object
 14  LoyaltyStatus            16921 non-null  object
 15  EnrollmentDateOpening    16921 non-null  object
 16  CancellationDate         2310 non-null   object
 17  Customer Lifetime Value  16901 non-null  float64
 18  EnrollmentType           16921 non-null  object
dtypes: float64(4), object(15)
memory usage: 2.6+ MB

In [4]:
customer_db.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
First Name,16921,4941,Stacey,13,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Last Name,16921,15404,Ypina,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Name,16921,16921,Emma Martin,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Country,16921,1,Canada,16921,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Province or State,16921,11,Ontario,5468,NaN,NaN,NaN,NaN,NaN,NaN,NaN
City,16921,29,Toronto,3390,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Latitude,16921.0,NaN,NaN,NaN,47.1745,3.307971,42.984924,44.231171,46.087818,49.28273,60.721188
Longitude,16921.0,NaN,NaN,NaN,-91.814768,22.242429,-135.05684,-120.23766,-79.383186,-74.596184,-52.712578
Postal code,16921,75,V6E 3D9,917,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Gender,16921,2,female,8497,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Education,16921,5,Bachelor,10586,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Location Code,16921,3,Suburban,5716,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Income,16901.0,NaN,NaN,NaN,37758.0384,30368.992499,0.0,0.0,34161.0,62396.0,99981.0
Marital Status,16921,3,Married,9842,NaN,NaN,NaN,NaN,NaN,NaN,NaN
LoyaltyStatus,16921,3,Star,7761,NaN,NaN,NaN,NaN,NaN,NaN,NaN
EnrollmentDateOpening,16921,2449,4/3/2015,34,NaN,NaN,NaN,NaN,NaN,NaN,NaN
CancellationDate,2310,1260,7/7/2020,8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Customer Lifetime Value,16901.0,NaN,NaN,NaN,7990.460188,6863.173093,1898.01,3979.72,5780.18,8945.69,83325.38
EnrollmentType,16921,2,Standard,15773,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Flights DB

In [5]:
flights_db.head()

,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
Loyalty#,,,,,,,,,
413052,2021,12,12/1/2021,2.0,2.0,9384.0,938.0,0.0,0.0
464105,2021,12,12/1/2021,0.0,0.0,0.0,0.0,0.0,0.0
681785,2021,12,12/1/2021,10.0,3.0,14745.0,1474.0,0.0,0.0
185013,2021,12,12/1/2021,16.0,4.0,26311.0,2631.0,3213.0,32.0
216596,2021,12,12/1/2021,9.0,0.0,19275.0,1927.0,0.0,0.0

In [6]:
# Strange Values and Descriptive statistics
flights_db.describe(include="all")

,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
count,608436.000000,608436.000000,608436,608436.000000,608436.000000,608436.000000,608436.000000,608436.000000,608436.000000
unique,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,12/1/2021,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,16901,NaN,NaN,NaN,NaN,NaN,NaN
mean,2020.000000,6.500000,NaN,3.908107,0.983944,7939.341419,793.777781,235.251678,2.324835
std,0.816497,3.452055,NaN,5.057889,2.003785,10260.421873,1025.918521,983.233374,9.725168
min,2019.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2019.000000,3.750000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2020.000000,6.500000,NaN,0.000000,0.000000,856.400000,85.275000,0.000000,0.000000
75%,2021.000000,9.250000,NaN,7.200000,0.900000,15338.175000,1533.712500,0.000000,0.000000
max,2021.000000,12.000000,NaN,21.000000,11.000000,42040.000000,4204.000000,7496.000000,74.000000

# Preprocessing

### Missing Values

In [7]:
# Missing values
flights_db.replace('', np.nan, inplace=True)
flights_db.isna().sum()

Year                        0
Month                       0
YearMonthDate               0
NumFlights                  0
NumFlightsWithCompanions    0
DistanceKM                  0
PointsAccumulated           0
PointsRedeemed              0
DollarCostPointsRedeemed    0
dtype: int64

### Convert data types