In [1]:
import pandas as pd
import numpy as np

# Load the data

customer_db = pd.read_csv("data/DM_AIAI_CustomerDB.csv", index_col=0 ).set_index("Loyalty#")
flights_db = pd.read_csv("data/DM_AIAI_FlightsDB.csv",  index_col="Loyalty#")

In [2]:
## Data Exploration

In [3]:
flights_db.head()

,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
Loyalty#,,,,,,,,,
413052,2021,12,12/1/2021,2.0,2.0,9384.0,938.0,0.0,0.0
464105,2021,12,12/1/2021,0.0,0.0,0.0,0.0,0.0,0.0
681785,2021,12,12/1/2021,10.0,3.0,14745.0,1474.0,0.0,0.0
185013,2021,12,12/1/2021,16.0,4.0,26311.0,2631.0,3213.0,32.0
216596,2021,12,12/1/2021,9.0,0.0,19275.0,1927.0,0.0,0.0

In [4]:
customer_db.head()

,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
Loyalty#,,,,,,,,,,,,,,,,,,,
480934,Cecilia,Householder,Cecilia Householder,Canada,Ontario,Toronto,43.653225,-79.383186,M2Z 4K1,female,Bachelor,Urban,70146.0,Married,Star,2/15/2019,NaN,3839.14,Standard
549612,Dayle,Menez,Dayle Menez,Canada,Alberta,Edmonton,53.544388,-113.490930,T3G 6Y6,male,College,Rural,0.0,Divorced,Star,3/9/2019,NaN,3839.61,Standard
429460,Necole,Hannon,Necole Hannon,Canada,British Columbia,Vancouver,49.282730,-123.120740,V6E 3D9,male,College,Urban,0.0,Single,Star,7/14/2017,1/8/2021,3839.75,Standard
608370,Queen,Hagee,Queen Hagee,Canada,Ontario,Toronto,43.653225,-79.383186,P1W 1K4,male,College,Suburban,0.0,Single,Star,2/17/2016,NaN,3839.75,Standard
530508,Claire,Latting,Claire Latting,Canada,Quebec,Hull,45.428730,-75.713364,J8Y 3Z5,male,Bachelor,Suburban,97832.0,Married,Star,10/25/2017,NaN,3842.79,2021 Promotion

In [5]:
#Duplicates
customer_db.duplicated().sum()

np.int64(0)

In [6]:
#Types
customer_db.dtypes

First Name                  object
Last Name                   object
Customer Name               object
Country                     object
Province or State           object
City                        object
Latitude                   float64
Longitude                  float64
Postal code                 object
Gender                      object
Education                   object
Location Code               object
Income                     float64
Marital Status              object
LoyaltyStatus               object
EnrollmentDateOpening       object
CancellationDate            object
Customer Lifetime Value    float64
EnrollmentType              object
dtype: object

In [7]:
#Checking for missing values
customer_db.replace('', np.nan, inplace=True)
customer_db.isna().sum()

First Name                     0
Last Name                      0
Customer Name                  0
Country                        0
Province or State              0
City                           0
Latitude                       0
Longitude                      0
Postal code                    0
Gender                         0
Education                      0
Location Code                  0
Income                        20
Marital Status                 0
LoyaltyStatus                  0
EnrollmentDateOpening          0
CancellationDate           14611
Customer Lifetime Value       20
EnrollmentType                 0
dtype: int64

In [8]:
customer_db.describe(include="all")

,First Name,Last Name,Customer Name,Country,Province or State,City,Latitude,Longitude,Postal code,Gender,Education,Location Code,Income,Marital Status,LoyaltyStatus,EnrollmentDateOpening,CancellationDate,Customer Lifetime Value,EnrollmentType
count,16921,16921,16921,16921,16921,16921,16921.000000,16921.000000,16921,16921,16921,16921,16901.000000,16921,16921,16921,2310,16901.000000,16921
unique,4941,15404,16921,1,11,29,NaN,NaN,75,2,5,3,NaN,3,3,2449,1260,NaN,2
top,Stacey,Ypina,Emma Martin,Canada,Ontario,Toronto,NaN,NaN,V6E 3D9,female,Bachelor,Suburban,NaN,Married,Star,4/3/2015,7/7/2020,NaN,Standard
freq,13,4,1,16921,5468,3390,NaN,NaN,917,8497,10586,5716,NaN,9842,7761,34,8,NaN,15773
mean,NaN,NaN,NaN,NaN,NaN,NaN,47.174500,-91.814768,NaN,NaN,NaN,NaN,37758.038400,NaN,NaN,NaN,NaN,7990.460188,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,3.307971,22.242429,NaN,NaN,NaN,NaN,30368.992499,NaN,NaN,NaN,NaN,6863.173093,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,42.984924,-135.056840,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,1898.010000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,44.231171,-120.237660,NaN,NaN,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,3979.720000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,46.087818,-79.383186,NaN,NaN,NaN,NaN,34161.000000,NaN,NaN,NaN,NaN,5780.180000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,49.282730,-74.596184,NaN,NaN,NaN,NaN,62396.000000,NaN,NaN,NaN,NaN,8945.690000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,60.721188,-52.712578,NaN,NaN,NaN,NaN,99981.000000,NaN,NaN,NaN,NaN,83325.380000,NaN

In [9]:
flights_db.head()

,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
Loyalty#,,,,,,,,,
413052,2021,12,12/1/2021,2.0,2.0,9384.0,938.0,0.0,0.0
464105,2021,12,12/1/2021,0.0,0.0,0.0,0.0,0.0,0.0
681785,2021,12,12/1/2021,10.0,3.0,14745.0,1474.0,0.0,0.0
185013,2021,12,12/1/2021,16.0,4.0,26311.0,2631.0,3213.0,32.0
216596,2021,12,12/1/2021,9.0,0.0,19275.0,1927.0,0.0,0.0

In [10]:
# Duplicates
flights_db.duplicated().sum()

np.int64(301411)

In [11]:
#DataTypes
flights_db.dtypes

Year                          int64
Month                         int64
YearMonthDate                object
NumFlights                  float64
NumFlightsWithCompanions    float64
DistanceKM                  float64
PointsAccumulated           float64
PointsRedeemed              float64
DollarCostPointsRedeemed    float64
dtype: object

In [12]:
# Missing values
flights_db.replace('', np.nan, inplace=True)
flights_db.isna().sum()

Year                        0
Month                       0
YearMonthDate               0
NumFlights                  0
NumFlightsWithCompanions    0
DistanceKM                  0
PointsAccumulated           0
PointsRedeemed              0
DollarCostPointsRedeemed    0
dtype: int64

In [13]:
# Strange Values and Descriptive statistics
flights_db.describe(include="all")

,Year,Month,YearMonthDate,NumFlights,NumFlightsWithCompanions,DistanceKM,PointsAccumulated,PointsRedeemed,DollarCostPointsRedeemed
count,608436.000000,608436.000000,608436,608436.000000,608436.000000,608436.000000,608436.000000,608436.000000,608436.000000
unique,NaN,NaN,36,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,12/1/2021,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,16901,NaN,NaN,NaN,NaN,NaN,NaN
mean,2020.000000,6.500000,NaN,3.908107,0.983944,7939.341419,793.777781,235.251678,2.324835
std,0.816497,3.452055,NaN,5.057889,2.003785,10260.421873,1025.918521,983.233374,9.725168
min,2019.000000,1.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2019.000000,3.750000,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2020.000000,6.500000,NaN,0.000000,0.000000,856.400000,85.275000,0.000000,0.000000
75%,2021.000000,9.250000,NaN,7.200000,0.900000,15338.175000,1533.712500,0.000000,0.000000
max,2021.000000,12.000000,NaN,21.000000,11.000000,42040.000000,4204.000000,7496.000000,74.000000